<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
	<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>

	<mappers>
		<mapper resource="mb/system/UserMapper.xml" />
		<mapper resource="mb/system/ClassMapper.xml" />
		<mapper resource="mb/system/MenuMapper.xml" />
		<mapper resource="mb/system/RoleMapper.xml" />
		<mapper resource="mb/system/DataMapper.xml" />
		<mapper resource="mb/system/RolePermissionRelMapper.xml" />
		<mapper resource="mb/attendance/WorkMapper.xml" />
		<mapper resource="mb/attendance/LeaveMapper.xml" />
		<mapper resource="mb/question/CreateQuestionMapper.xml" />
		<mapper resource="mb/question/QuestionQaMapper.xml" />
		<mapper resource="mb/question/QuestionNameQaRelMapper.xml" />
		<mapper resource="mb/question/StudentCheckQuestionMapper.xml" />
		<mapper resource="mb/question/StudentAnswerMapper.xml" />
		<mapper resource="mb/question/StudentCheckWitchMapper.xml" />
	</mappers>

</configuration>