<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.mapper.RoleMapper">
	<sql id="Base_Column_List">
		id,create_time,update_time,create_by,
		update_by,isdelete,state,order_by,descr,type,role_name
	</sql>
	<resultMap id="roleResult" type="com.system.model.RoleModel">
		<result column="id" property="id" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="create_by" property="createBy" />
		<result column="update_by" property="updateBy" />
		<result column="isdelete" property="deleted" />
		<result column="state" property="state" />
		<result column="order_by" property="orderBy" />
		<result column="descr" property="descr" />
		<result column="type" property="type" />
		<result column="role_name" property="roleName" />
	</resultMap>
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null and id !=0">
				and id = #{id}
			</if>
			<if test="roleName != null and roleName != ''">
				and role_name = #{roleName}
			</if>
		</trim>
	</sql>
	<select id="selectAll" resultMap="roleResult" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from manage.role
		<include refid="Example_Where_Clause" />
	</select>
	<insert id="insert">
		INSERT INTO
		manage.role(role_name)
		VALUES
		(#{roleName})
	</insert>
		<update id="update">
		UPDATE manage.role SET
		<trim suffixOverrides=",">
			<if test="roleName != null and roleName !=''">
				role_name = #{roleName},
			</if>
		</trim>
		where id = #{id}
	</update>
</mapper>